#first{
    background-color: aqua;
    height: 60px;
    width: 150px;
}
#second{
    background-color: rgb(155, 64, 42);
    height: 60px;
    width: 150px;
}
#third{
    background-color: rgb(166, 34, 128);
    height: 60px;
    width: 150px;
}
#fourth{
    background-color: rgb(58, 18, 166);
    height: 60px;
    width: 150px;
}

#header{
    background-color: rgb(11, 11, 102);
    height: 200px;
    color: white;
}

#first-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
}

#icon-div{
    display: flex;
    align-items: center;
    gap: 10px;
}

#second-row{
    border-top: 1px solid rgb(153, 152, 152);
    margin-left: 50px;
    margin-right: 50px;
}

#third-row{
    display: flex;
    justify-content: space-around;
}

.car{
    border: 1px solid lightgray;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cars{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
}

h2{
    color: blue;
}

h3{
    color: green;
}

.line{ 
    width: 340px;
    border-top: 2px solid lightgray;  
    }

#first-box{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
}

#sellCar{
    font-size: 28px;
    font-weight: bold;
}

#Hero2{
    display: flex;
    justify-content: center;
    gap:200px;
}

.vericalLine{
    border-left: 2px solid lightgray;
    height: 100px;
   }

#Hero2-2{
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
}

span{
    color: rgb(30, 160, 30);
}

#post{
    background-color: red;
    color: white;
    padding: 10px 20px 10px 20px;
    border: none;
    border-radius: 6px;
}

#Register{
    background-color: blue;
    color: white;
    padding: 10px 20px 10px 20px;
    border: none;
    border-radius: 6px;
}
h1{
    font-size: 50px;
}

#corolla{
    display: flex;
    align-items: center;
    flex-direction: column;
}